@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
html,
body,
h1 {
  margin: 0;
  padding: 0;
}

html,
body {
  background-image: linear-gradient(to top right, #274b74, #8233c5, #e963fd);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 700px;
  align-items: center;
  padding: 0 10px;
}

.gallery {
  box-shadow: 0 0 15px #101010;
  border-radius: 15px;
  background-color: rgba(34, 34, 34, 0.9);
  width: 100%;
  padding: 30px 40px;
  display: flex;
  flex-wrap: wrap;
}

.gallery-title {
  background-color: rgb(98, 98, 98, 0.2);
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.gallery-title h1 {
  text-align: center;
  font-weight: bolder;
  color: whitesmoke;
}

.gallery-photo {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pic-frame img {
  max-width: 300px;
  border-radius: 10px;
  filter: grayscale(100);
  transition: ease-out 0.3s;
}

.pic-frame img:hover {
  box-shadow: 0 0 30px whitesmoke;
  filter: grayscale(0);
}

.overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  transition: 0.3s;
}

.overlay:target {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(25, 25, 25, 0.8);
}

.overlay-container {
  margin: auto;
}

.overlay img {
  display: none;
  max-height: 200px;
  box-shadow: 0 0 20px rgba(245, 245, 245, 0.3);
}

.overlay:target img {
  display: block;
  animation: zoom-in ease-in-out 0.3s;
}

/* Button */

.btn-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
}

.close,
.previous,
.next {
  text-decoration: none;
  background-color: rgba(34, 34, 34, 0.5);
  box-shadow: 0 0 10px rgba(245, 245, 245, 0.3);
  border-radius: 5px;
  padding: 0 10px;
  margin: 0 5px;
  color: whitesmoke;
  opacity: 0;
}

.overlay:target .close,
.overlay:target .next,
.overlay:target .previous {
  animation: slide-down ease-in-out 0.3s 0.2s forwards;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgba(34, 34, 34, 1);
}

footer p {
  margin: 10px;
  text-align: center;
  color: whitesmoke;
}

/* responsive */

@media (min-width: 600px) {
  .pic-frame img {
    max-width: 200px;
  }

  .gallery-photo {
    justify-content: space-between;
  }

  .overlay img {
    max-height: 400px;
  }
}

/* animation */

@keyframes zoom-in {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    margin-top: -10px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}
